// ***********************************************************************************
// These are going to be moved to the palette once I finish the themes.
// ***********************************************************************************
// Dark Theme -- following material design specs
$sms-dark-status-bar: #000000;
$sms-dark-app-bar: #212121;
$sms-dark-background: #303030;
$sms-dark-cards-dialogs: #424242;

$sms-dark-primary-text: rgba(255, 255, 255, 1);

$sms-dark-secondary-text: rgba(255, 255, 255, 0.7);
$sms-dark-disabled-hint-text: rgba(255, 255, 255, 0.5);

$sms-dark-dividers: rgba(255, 255, 255, 0.12);
// ***********************************************************************************
// ***********************************************************************************
// ***********************************************************************************
.sms-theme--dark {
    background-color:  $sms-dark-background;    
    color: $sms-dark-primary-text;    
    
    h1, h2, h3, h4, h5, h6 {
        color: $sms-dark-primary-text;               
    }     
    
    p {
        color: $sms-dark-secondary-text;       
    } 
    
    .panel {
        background-color: $sms-dark-cards-dialogs;        
    }              
}

// ***********************************************************************************
// These are going to be moved to the palette once I finish the themes.
// ***********************************************************************************
// Light Theme -- following material design specs
$sms-light-status-bar: #E0E0E0;
$sms-light-app-bar: #F5F5F5;
$sms-light-background: #FAFAFA;
$sms-light-cards-dialogs: #FFFFFF;

$sms-light-primary-text: rgba(0, 0, 0, 0.87);
$sms-light-secondary-text: rgba(0, 0, 0, 0.54);
$sms-light-disabled-hint-text: rgba(0, 0, 0, 0.38);

$sms-light-dividers: rgba(0, 0,0, 0.12);

// ***********************************************************************************
// ***********************************************************************************
// ***********************************************************************************
.sms-theme--light {
    background-color:  $sms-light-background;   
    color: $sms-light-primary-text;   
    
    h1, h2, h3, h4, h5, h6 {
        color: $sms-light-primary-text;               
    }    
    
    p {
        color: $sms-light-secondary-text;       
    } 
    
    .panel {
        background-color: $sms-light-cards-dialogs;                     
    }            
}

// ***********************************************************************************
// Primary and Accent effects common to both.
// ***********************************************************************************

// Color Variables
$sms-primary: map-get($sms-yellow, 500);
.sms-primary{
    color: $sms-primary;
}

.sms-primary-bg{
    background-color: $sms-primary;
}

$sms-accent:  map-get($sms-green, 500);
.sms-accent{
    color: $sms-accent;
}
.sms-accent-bg{
    color: $sms-accent;
}

$sms-warn: red;
.sms-warn{
    color: $sms-warn;
}
.sms-warn-bg{
    color: $sms-warn;
}

a {		   
    color: $sms-primary;    

    &:hover {
        border-bottom-color: $sms-primary;
        color: map-get($sms-yellow, 300) !important;  //If you want to change to a different primary color you must create another color palette other then yellow

        &:before {
            color: map-get($sms-yellow, 300) !important;
        }
    }
}

strong, b {
    color: $sms-accent;    //If you want to change to a different primary color you must create another color palette other then yellow
}



