//Style wide variables
@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic,900,900italic);

//Page
$min-page-size: 320px;

// Font
$font-family: ('Roboto', Helvetica, sans-serif);
$font-family-fixed: ('Courier New', monospace);
$font-family-heading: ('Raleway', Helvetica, sans-serif);
$font-weight: 400;
$font-weight-bold: 700;
$font-weight-heading: 400;
$font-weight-heading-bold: 800;
$font-weight-heading-extrabold:	900;
$font-kerning-heading: 0.25em;
